/*
Template Name: GTTP
*/
/*  VARIABLES
/* ------------------------------------ */
/*  VARIABLES
/* ------------------------------------ */
@-webkit-keyframes no-anim {}
@-ms-keyframes no-anim {}
.space15 {
  height: 15px;
  display: block;
  width: 100%; }

.space20 {
  height: 20px;
  display: block;
  width: 100%; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space45 {
  height: 45px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

/*  THEME
/* ------------------------------------ */
body, html {
  height: 100%; }

body {
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background: white; }
  @media (max-width: 480px) {
    body {
      font-size: 14px;
      line-height: 1.7; } }

[class^="icon-"]:before, [class*=" icon-"]:before {
  cursor: inherit; }

a {
  color: #4283b9;
  transition: ease .3s;
  border-bottom: 1px solid #4283b9; }
  a:hover, a:focus {
    text-decoration: none;
    color: #b3b3b3;
    border-bottom-color: #b3b3b3; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #4c4c4c; }

p {
  margin-bottom: 30px; }
  @media (max-width: 480px) {
    p {
      margin-top: 15px; } }

img {
  max-width: 100%; }

.space10 {
  height: 10px;
  display: block;
  width: 100%; }

.space20 {
  height: 20px;
  display: block;
  width: 100%; }

.space40 {
  height: 40px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

@media (max-width: 570px) {
  .helpertop-space {
    margin-top: 15px; } }

.clearboth {
  content: "";
  clear: both;
  display: table; }

.bg-semi-white {
  background: #fafafa; }

.bg-orange {
  background: #ea8530; }
  .bg-orange p {
    color: white; }
  .bg-orange .title-box {
    color: white; }
  .bg-orange .line-separator {
    margin: 0;
    border-color: rgba(255, 255, 255, 0.2); }

.nopadd {
  padding: 0 !important; }
  @media (max-width: 767px) {
    .nopadd {
      padding-left: 15px !important;
      padding-right: 15px !important; } }

.minmargin20 {
  margin-top: -20px;
  position: relative;
  display: block; }

.img-stripes {
  background: url("../images/stripes.png") no-repeat 0 0 transparent;
  background-size: cover;
  width: 100%;
  height: 5px; }

.section-box {
  position: relative;
  padding-top: 80px; }
  @media (max-width: 480px) {
    .section-box {
      padding-top: 60px; } }

.header-section {
  margin-bottom: 40px; }
  .header-section h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal; }
    @media (max-width: 480px) {
      .header-section h2 {
        font-size: 24px;
        line-height: 1.4; } }

.box-padd {
  padding: 40px; }

.title-box {
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 30px;
  text-transform: uppercase; }
  .title-box + .subtitle-content-box {
    top: -30px;
    position: relative; }

.title-content-box {
  margin: 0 0 15px;
  font-size: 16px;
  text-transform: uppercase; }

.subtitle-content-box {
  color: #808080; }

.text-normal {
  text-transform: none !important; }

.trans-none {
  text-transform: none !important;
  font-weight: normal;
  line-height: 1.6; }

.nopaddleft {
  padding-left: 0 !important; }

.list-dotted {
  list-style: none outside none;
  margin: 0 0 15px;
  padding: 0; }
  .list-dotted li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    display: block; }
    .list-dotted li:before {
      content: "\f111";
      font-family: "FontAwesome";
      font-size: 8px;
      position: absolute;
      top: 0;
      left: 0;
      color: #4283b9; }
    .list-dotted li p {
      margin: 0; }

.list-gttp {
  list-style: none outside none;
  margin: 0 0 15px;
  padding: 0; }
  .list-gttp li {
    position: relative;
    display: block;
    margin-bottom: 5px; }
    .list-gttp li p {
      margin: 0; }
      .list-gttp li p b {
        color: #4c4c4c; }
      .list-gttp li p a {
        color: #4283b9;
        text-decoration: none;
        border-bottom: none; }
        .list-gttp li p a:hover, .list-gttp li p a:focus {
          color: #808080; }

.box-accordion .panel {
  border-radius: 0;
  box-shadow: none;
  margin-top: 0; }
.box-accordion .panel-default {
  border-color: #e5e5e5; }
  .box-accordion .panel-default > .panel-heading {
    background: #fafafa;
    border-radius: 0;
    padding: 0; }
  .box-accordion .panel-default .panel-title {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0; }
    @media (max-width: 480px) {
      .box-accordion .panel-default .panel-title {
        font-size: 14px; } }
    .box-accordion .panel-default .panel-title a {
      color: #4c4c4c;
      border-bottom: none;
      padding: 15px 20px;
      display: block;
      position: relative;
      overflow: hidden; }
      @media (max-width: 480px) {
        .box-accordion .panel-default .panel-title a {
          padding: 10px 20px;
          height: 40px;
          line-height: 1.5;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; } }
      .box-accordion .panel-default .panel-title a .box {
        position: absolute;
        right: 0;
        width: 60px;
        height: 60px;
        background-color: white;
        border-left: 1px solid #e5e5e5;
        top: 0; }
        @media (max-width: 480px) {
          .box-accordion .panel-default .panel-title a .box {
            width: 40px;
            height: 40px; } }
        .box-accordion .panel-default .panel-title a .box:after {
          font-family: "FontAwesome";
          content: "\f067";
          position: absolute;
          vertical-align: middle;
          color: #e5e5e5;
          top: 15%;
          left: 25%;
          transition: all .25s ease;
          font-weight: normal;
          border-radius: 50%;
          display: inline-block;
          border: 1px solid #e5e5e5;
          height: 30px;
          width: 30px;
          text-align: center;
          line-height: 30px; }
          @media (max-width: 480px) {
            .box-accordion .panel-default .panel-title a .box:after {
              height: 20px;
              width: 20px;
              font-size: 12px;
              line-height: 20px;
              top: 20%; } }
    .box-accordion .panel-default .panel-title a[aria-expanded="true"] .box:after {
      content: "\f068"; }
  .box-accordion .panel-default > .panel-body {
    border-top-color: #e5e5e5;
    padding: 15px 20px; }

.box-accordion .panel + .panel {
  margin-top: 0; }

.btn {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-family: arial;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 12px 15px;
  border-bottom: none; }
  @media (max-width: 480px) {
    .btn {
      font-size: 14px; } }
  .btn:hover, .btn:focus {
    color: white;
    border-bottom: none; }
  .btn-line {
    border: 1px solid transparent; }
  .btn-line-white {
    border-color: white; }
    .btn-line-white:hover, .btn-line-white:focus {
      background: white;
      color: #666666; }
  .btn-orange {
    background: #ea8530; }
    .btn-orange:hover {
      background: #666666; }
    .btn-orange:focus {
      background: #4c4c4c; }
  .btn-md {
    padding: 12px 40px;
    font-weight: 600; }
    @media (max-width: 480px) {
      .btn-md {
        padding: 12px 30px; } }
  .btn-s {
    padding: 10px 20px;
    font-size: 13px; }

.footer-site {
  border-top: 1px solid #e5e5e5; }

.footer-top {
  padding: 50px 0 20px; }

.footer-bottom {
  border-top: 1px solid #e5e5e5;
  padding: 20px 0; }
  .footer-bottom .widget {
    margin: 0 !important; }
    @media (max-width: 480px) {
      .footer-bottom .widget {
        width: 100%; } }
    .footer-bottom .widget-socmed ul li a {
      margin: 0 5px; }

.copyright {
  display: inline-block;
  float: left;
  margin: 0;
  font-size: 14px;
  color: #808080; }
  @media (max-width: 480px) {
    .copyright {
      float: none;
      text-align: center;
      margin-bottom: 10px; } }
  .copyright a {
    color: #808080;
    border-bottom: none; }
    .copyright a:hover, .copyright a:focus {
      color: #4283b9;
      border-bottom: none; }

.table-statistic table {
  border: 1px solid #e5e5e5;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal; }
  .table-statistic table thead {
    background-color: #d5e7f6; }
    .table-statistic table thead tr td {
      padding: 40px 20px; }
  .table-statistic table tbody {
    color: #999999; }
    .table-statistic table tbody tr {
      background-color: white;
      border-bottom: 1px solid #e5e5e5; }
      .table-statistic table tbody tr:nth-child(even) {
        background-color: #f9fbfc; }
      .table-statistic table tbody tr td {
        padding: 20px; }
  .table-statistic table tfoot tr {
    background-color: #4283b9;
    color: white; }
    .table-statistic table tfoot tr td {
      padding: 20px; }
.table-statistic .info-table {
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px; }
  @media (min-width: 980px) and (max-width: 1199px) {
    .table-statistic .info-table {
      padding: 0 20px;
      margin-bottom: 10px; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .table-statistic .info-table {
      padding: 0 20px;
      margin-bottom: 10px; } }
  @media (max-width: 480px) {
    .table-statistic .info-table {
      padding: 0 20px;
      margin-bottom: 10px; } }

.header-site {
  position: relative; }
  .header-site .header-left {
    float: left; }
    @media (min-width: 768px) and (max-width: 979px) {
      .header-site .header-left {
        float: none; } }
    @media (min-width: 571px) and (max-width: 767px) {
      .header-site .header-left {
        float: none; } }
    @media (max-width: 570px) {
      .header-site .header-left {
        float: none;
        text-align: center; } }
  .header-site .header-right {
    float: right; }
    @media (min-width: 768px) and (max-width: 979px) {
      .header-site .header-right {
        float: none; } }
    @media (min-width: 571px) and (max-width: 767px) {
      .header-site .header-right {
        float: none; } }
    @media (max-width: 570px) {
      .header-site .header-right {
        float: none; } }
  .header-site .widget {
    margin-bottom: 0 !important; }

.logo {
  float: left;
  margin: 40px 0; }
  @media (min-width: 980px) and (max-width: 1199px) {
    .logo {
      margin: 30px 0;
      float: none;
      text-align: center; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .logo {
      float: none;
      margin: 20px 0;
      text-align: center; } }
  @media (min-width: 571px) and (max-width: 767px) {
    .logo {
      float: none;
      margin: 20px 0;
      text-align: center; } }
  @media (max-width: 570px) {
    .logo {
      float: none;
      margin: 20px 0;
      text-align: center; } }
  .logo a {
    display: inline-block;
    border: none; }
    @media (min-width: 980px) and (max-width: 1199px) {
      .logo a img {
        width: 100%; } }
    @media (max-width: 570px) {
      .logo a img {
        width: 100%; } }

.header-top {
  text-align: right; }
  @media (min-width: 980px) and (max-width: 1199px) {
    .header-top {
      text-align: center; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .header-top {
      text-align: center; } }
  .header-top .nav-top {
    float: right; }
    @media (min-width: 980px) and (max-width: 1199px) {
      .header-top .nav-top {
        float: none;
        width: 100%;
        display: block; } }
    @media (min-width: 768px) and (max-width: 979px) {
      .header-top .nav-top {
        float: none;
        width: 100%;
        display: block; } }
    @media (min-width: 571px) and (max-width: 767px) {
      .header-top .nav-top {
        float: none;
        width: 100%;
        display: block; } }
    @media (max-width: 570px) {
      .header-top .nav-top {
        width: 100%;
        display: block; } }
  .header-top .widget-socmed {
    float: right; }
    @media (max-width: 570px) {
      .header-top .widget-socmed {
        width: 100%;
        display: block; } }
    @media (max-width: 570px) {
      .header-top .widget-socmed ul li {
        float: none;
        display: inline-block; } }

.header-bottom {
  width: 100%;
  float: right; }
  @media (min-width: 980px) and (max-width: 1199px) {
    .header-bottom {
      float: none;
      text-align: center; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .header-bottom {
      float: none;
      text-align: center; } }
  @media (min-width: 571px) and (max-width: 767px) {
    .header-bottom {
      float: none;
      text-align: center; } }

@media (max-width: 570px) {
  .nav-top {
    text-align: center; } }
.nav-top ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: inherit;
  text-transform: uppercase; }
  .nav-top ul li {
    float: left;
    position: relative; }
    @media (max-width: 570px) {
      .nav-top ul li {
        float: none;
        display: inline-block; } }
    .nav-top ul li > a {
      border-bottom: none;
      margin: 10px 20px;
      display: block; }
      @media (max-width: 570px) {
        .nav-top ul li > a {
          margin: 5px 10px; } }
      .nav-top ul li > a:first-child {
        margin-left: 20px; }
    .nav-top ul li ul {
      display: block;
      position: absolute;
      background-color: #fafafa;
      min-width: 160px;
      z-index: 999;
      border: 1px solid #e5e5e5; }
      .nav-top ul li ul li {
        display: block;
        float: none; }
        .nav-top ul li ul li > a {
          text-align: left;
          color: #666666;
          font-size: 11px;
          margin: 0;
          padding: 5px 20px;
          display: block; }
          .nav-top ul li ul li > a:first-child {
            margin-left: 0; }
        .nav-top ul li ul li ul {
          left: 100%;
          top: 0; }
        .nav-top ul li ul li:hover > a {
          background-color: #4283b9;
          color: white; }
    .nav-top ul li:hover > a {
      color: #808080; }

.main-nav {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  float: right;
  margin: 10px 0 20px; }
  @media (min-width: 980px) and (max-width: 1199px) {
    .main-nav {
      font-size: 14px;
      margin: 5px 0 10px;
      float: none;
      display: block;
      text-align: center;
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .main-nav {
      float: none;
      display: block;
      text-align: center;
      width: 100%; } }
  @media (min-width: 571px) and (max-width: 767px) {
    .main-nav {
      float: none;
      display: block;
      text-align: center;
      width: 100%; } }
  @media (max-width: 570px) {
    .main-nav {
      display: none; } }
  .main-nav ul {
    list-style: none outside none;
    padding: 0;
    margin: 0; }
    .main-nav ul li {
      float: left;
      position: relative; }
      @media (min-width: 980px) and (max-width: 1199px) {
        .main-nav ul li {
          float: none;
          display: inline-block; } }
      @media (min-width: 768px) and (max-width: 979px) {
        .main-nav ul li {
          float: none;
          display: inline-block; } }
      @media (min-width: 571px) and (max-width: 767px) {
        .main-nav ul li {
          float: none;
          display: inline-block; } }
      .main-nav ul li > a {
        display: block;
        border-bottom: none;
        color: #808080;
        margin: 0 20px; }
      .main-nav ul li ul {
        display: block;
        position: absolute;
        background-color: #fafafa;
        min-width: 160px;
        z-index: 999;
        border: 1px solid #e5e5e5;
        top: 60px; }
        @media (min-width: 980px) and (max-width: 1199px) {
          .main-nav ul li ul {
            top: 40px; } }
        @media (min-width: 768px) and (max-width: 979px) {
          .main-nav ul li ul {
            top: 50px; } }
        .main-nav ul li ul li {
          display: block;
          float: none; }
          .main-nav ul li ul li > a {
            text-align: left;
            color: #666666;
            font-size: 13px;
            margin: 0;
            padding: 5px 20px;
            display: block; }
            @media (min-width: 980px) and (max-width: 1199px) {
              .main-nav ul li ul li > a {
                font-size: 11px; } }
            .main-nav ul li ul li > a:first-child {
              margin-left: 0; }
          .main-nav ul li ul li ul {
            left: 100%;
            top: 0; }
          .main-nav ul li ul li:hover > a {
            background-color: #4283b9;
            color: white; }
      .main-nav ul li.active > a {
        color: #4283b9; }
      .main-nav ul li:hover > a {
        color: #4283b9; }

.rwd-navigation {
  display: none;
  margin-bottom: 20px; }
  @media (max-width: 570px) {
    .rwd-navigation {
      display: block; } }
  .rwd-navigation .nav-btn {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #666666;
    padding: 10px 20px;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600; }
    .rwd-navigation .nav-btn:hover, .rwd-navigation .nav-btn:focus {
      background-color: #4283b9; }
  .rwd-navigation .mobile-nav {
    list-style: none outside none;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal; }
    .rwd-navigation .mobile-nav li {
      display: block; }
    .rwd-navigation .mobile-nav a {
      padding: 5px 20px;
      display: block;
      color: #666666;
      background-color: #fafafa;
      border-bottom: none; }
      .rwd-navigation .mobile-nav a:hover, .rwd-navigation .mobile-nav a:focus {
        color: white;
        background-color: #4283b9; }

.tab-header-content ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  text-align: center; }
  .tab-header-content ul li {
    display: inline-block; }
    @media (max-width: 480px) {
      .tab-header-content ul li {
        display: block; } }
    .tab-header-content ul li.active a {
      background: #4283b9;
      color: white; }
    .tab-header-content ul li a {
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      color: #808080;
      padding: 10px 20px;
      border-bottom: none;
      line-height: inherit; }
      @media (min-width: 768px) and (max-width: 979px) {
        .tab-header-content ul li a {
          font-size: 13px;
          padding: 5px 10px; } }
      @media (max-width: 480px) {
        .tab-header-content ul li a {
          width: 100%;
          padding: 5px 10px;
          font-size: 12px; } }
    .tab-header-content ul li:hover a {
      background: #4283b9;
      color: white; }

.widget {
  margin-bottom: 40px; }
  .widget .title-widget {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px; }
  .widget .list-widget {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .widget .list-widget li {
      display: block; }
    .widget .list-widget .title-link {
      margin: 0 0 10px;
      font-weight: normal;
      font-size: 16px; }
      @media (max-width: 480px) {
        .widget .list-widget .title-link {
          font-size: 14px; } }
      .widget .list-widget .title-link a {
        color: #666666;
        border-bottom: none; }
        .widget .list-widget .title-link a:hover, .widget .list-widget .title-link a:focus {
          color: #4283b9; }
  .widget-socmed ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center; }
    .widget-socmed ul li {
      float: left; }
      @media (max-width: 480px) {
        .widget-socmed ul li {
          float: none;
          display: inline-block; } }
      .widget-socmed ul li a {
        color: #b3b3b3;
        border-bottom: none;
        margin: 9px 5px;
        display: block; }
        .widget-socmed ul li a:hover, .widget-socmed ul li a:focus {
          color: #4283b9; }
  .widget-text img {
    margin-bottom: 20px; }
  .widget-text p {
    font-size: 16px;
    line-height: 24px; }
    @media (max-width: 480px) {
      .widget-text p {
        font-size: 14px;
        line-height: 21px; } }

/*  SECTION
/* ------------------------------------ */
.community-filter {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  text-align: center; }
  .community-filter li {
    display: inline-block; }
    @media (max-width: 480px) {
      .community-filter li {
        display: block; } }
    .community-filter li a {
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      color: #808080;
      padding: 10px 20px;
      border-bottom: none;
      line-height: inherit; }
      .community-filter li a.active {
        background: #4283b9;
        color: white; }
    .community-filter li:hover a {
      background: #4283b9;
      color: white; }

.item-gallery {
  text-align: center;
  margin-bottom: 30px; }
  @media (max-width: 480px) {
    .item-gallery {
      width: 100% !important;
      padding: 0 30px; } }
  .item-gallery:hover .gallery-caption {
    background: rgba(0, 0, 0, 0.5); }
  .item-gallery:hover .gallery-link {
    top: 50%; }
  .item-gallery-inner {
    background: transparent;
    position: relative;
    display: block;
    overflow: hidden; }
    .item-gallery-inner .gallery-caption {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: transparent;
      transition: all .4s ease; }
    .item-gallery-inner .gallery-link {
      position: absolute;
      top: -40px;
      margin-top: -15px;
      left: 50%;
      margin-left: -15px;
      transition: all .4s ease;
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 50%;
      background: #4283b9;
      font-size: 14px;
      color: white;
      border-bottom: none;
      display: inline-block; }
      .item-gallery-inner .gallery-link:hover {
        background: #808080; }
      .item-gallery-inner .gallery-link:focus {
        background: #4c4c4c; }
    @media (min-width: 980px) and (max-width: 1199px) {
      .item-gallery-inner img {
        width: 100%; } }
    @media (min-width: 768px) and (max-width: 979px) {
      .item-gallery-inner img {
        width: 100%; } }
    @media (max-width: 480px) {
      .item-gallery-inner img {
        width: 100%; } }

.list-goals {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left; }
  .list-goals li {
    position: relative; }
    .list-goals li p {
      margin-left: 60px; }
      @media (max-width: 480px) {
        .list-goals li p {
          margin-bottom: 15px; } }
    .list-goals li:hover:before {
      -webkit-animation-name: rotateUpDown;
              animation-name: rotateUpDown;
      -webkit-animation-duration: 1.2s;
              animation-duration: 1.2s;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
    .list-goals li:before {
      position: absolute;
      content: url("../images/compas.png");
      width: 30px;
      height: 30px;
      left: 0;
      top: 5px; }

.homepage {
  background-color: #808080;
  overflow: hidden; }

.homepage-slider {
  position: relative; }
  .homepage-slider .owl-controls {
    position: relative; }
    .homepage-slider .owl-controls .owl-nav {
      position: relative; }
      .homepage-slider .owl-controls .owl-nav > div {
        position: absolute;
        margin-top: -25%; }
        @media (min-width: 980px) and (max-width: 1199px) {
          .homepage-slider .owl-controls .owl-nav > div {
            margin-top: -30%; } }
        @media (min-width: 571px) and (max-width: 767px) {
          .homepage-slider .owl-controls .owl-nav > div {
            margin-top: -45%;
            display: none !important; } }
        @media (max-width: 570px) {
          .homepage-slider .owl-controls .owl-nav > div {
            margin-top: -40%;
            display: none !important; } }
        .homepage-slider .owl-controls .owl-nav > div.owl-next, .homepage-slider .owl-controls .owl-nav > div.owl-prev {
          width: 60px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          background-color: white;
          font-size: 36px;
          transition: all .25s ease; }
          .homepage-slider .owl-controls .owl-nav > div.owl-next:hover, .homepage-slider .owl-controls .owl-nav > div.owl-next:focus, .homepage-slider .owl-controls .owl-nav > div.owl-prev:hover, .homepage-slider .owl-controls .owl-nav > div.owl-prev:focus {
            opacity: .85; }
          .homepage-slider .owl-controls .owl-nav > div.owl-next i, .homepage-slider .owl-controls .owl-nav > div.owl-prev i {
            font-style: normal; }
        .homepage-slider .owl-controls .owl-nav > div.owl-next {
          right: -5px; }
        .homepage-slider .owl-controls .owl-nav > div.owl-prev {
          left: -5px; }

.item-bg {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.item-bg-1 {
  background-image: url("../images/slides/1.jpg"); }

.item-bg-2 {
  background-image: url("../images/slides/2.jpg"); }

.item-bg-3 {
  background-image: url("../images/slides/3.jpg"); }

.item-bg-4 {
  background-image: url("../images/slides/4.jpg"); }

.item-caption {
  position: relative;
  color: white;
  padding: 12% 0; }
  @media (max-width: 480px) {
    .item-caption .col-md-5 {
      width: 100% !important;
      text-align: center !important; } }
  .item-caption .text-caption {
    font-weight: 300;
    font-size: 36px;
    line-height: 1.15; }
    .item-caption .text-caption strong {
      font-weight: bold; }
    @media (min-width: 768px) and (max-width: 979px) {
      .item-caption .text-caption {
        font-size: 30px; } }
    @media (max-width: 480px) {
      .item-caption .text-caption {
        font-size: 24px; } }

.box-manual {
  margin: 0;
  padding: 20px; }
  .box-manual.in-left {
    text-align: right;
    padding-right: 40px;
    position: relative; }
    .box-manual.in-left:after {
      content: "";
      position: absolute;
      right: -10px;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.2); }
  .box-manual.in-right {
    text-align: left;
    padding-left: 40px;
    position: relative; }
  .box-manual a {
    font-family: arial;
    color: white;
    border-bottom-color: transparent;
    font-weight: normal;
    display: inline-block; }
  .box-manual:hover a {
    border-bottom-color: white; }

.partners-carousel {
  position: relative; }
  .partners-carousel .owl-controls {
    position: relative; }
    .partners-carousel .owl-controls .owl-nav {
      position: relative; }
      .partners-carousel .owl-controls .owl-nav > div {
        position: absolute;
        margin-top: -11%; }
        @media (min-width: 980px) and (max-width: 1199px) {
          .partners-carousel .owl-controls .owl-nav > div {
            margin-top: -12%; } }
        @media (min-width: 768px) and (max-width: 979px) {
          .partners-carousel .owl-controls .owl-nav > div {
            margin-top: -12%; } }
        @media (min-width: 571px) and (max-width: 767px) {
          .partners-carousel .owl-controls .owl-nav > div {
            margin-top: -11%; } }
        @media (max-width: 570px) {
          .partners-carousel .owl-controls .owl-nav > div {
            margin-top: -23%; } }
        .partners-carousel .owl-controls .owl-nav > div.owl-next, .partners-carousel .owl-controls .owl-nav > div.owl-prev {
          text-align: center;
          font-size: 80px;
          transition: all .25s ease;
          color: #e5e5e5; }
          @media (min-width: 768px) and (max-width: 979px) {
            .partners-carousel .owl-controls .owl-nav > div.owl-next, .partners-carousel .owl-controls .owl-nav > div.owl-prev {
              font-size: 60px; } }
          @media (min-width: 571px) and (max-width: 767px) {
            .partners-carousel .owl-controls .owl-nav > div.owl-next, .partners-carousel .owl-controls .owl-nav > div.owl-prev {
              font-size: 46px; } }
          @media (max-width: 570px) {
            .partners-carousel .owl-controls .owl-nav > div.owl-next, .partners-carousel .owl-controls .owl-nav > div.owl-prev {
              font-size: 46px; } }
          .partners-carousel .owl-controls .owl-nav > div.owl-next:hover, .partners-carousel .owl-controls .owl-nav > div.owl-next:focus, .partners-carousel .owl-controls .owl-nav > div.owl-prev:hover, .partners-carousel .owl-controls .owl-nav > div.owl-prev:focus {
            color: #4c4c4c; }
          .partners-carousel .owl-controls .owl-nav > div.owl-next i, .partners-carousel .owl-controls .owl-nav > div.owl-prev i {
            font-style: normal; }
        .partners-carousel .owl-controls .owl-nav > div.owl-next {
          right: -20px; }
          @media (min-width: 768px) and (max-width: 979px) {
            .partners-carousel .owl-controls .owl-nav > div.owl-next {
              right: -20px; } }
          @media (min-width: 571px) and (max-width: 767px) {
            .partners-carousel .owl-controls .owl-nav > div.owl-next {
              right: -1%; } }
          @media (max-width: 570px) {
            .partners-carousel .owl-controls .owl-nav > div.owl-next {
              right: -1%; } }
        .partners-carousel .owl-controls .owl-nav > div.owl-prev {
          left: -20px; }
          @media (min-width: 768px) and (max-width: 979px) {
            .partners-carousel .owl-controls .owl-nav > div.owl-prev {
              left: -20px; } }
          @media (min-width: 571px) and (max-width: 767px) {
            .partners-carousel .owl-controls .owl-nav > div.owl-prev {
              left: -1%; } }
          @media (max-width: 57px) {
            .partners-carousel .owl-controls .owl-nav > div.owl-prev {
              left: -1%; } }

.item-program {
  margin-bottom: 30px; }
  .item-program-inner {
    background-color: #fafafa;
    padding: 20px;
    min-height: 650px; }
    @media (min-width: 980px) and (max-width: 1199px) {
      .item-program-inner {
        min-height: 300px; } }
    @media (min-width: 768px) and (max-width: 979px) {
      .item-program-inner {
        min-height: 300px; } }
    @media (min-width: 571px) and (max-width: 767px) {
      .item-program-inner {
        min-height: 300px; } }
    @media (max-width: 480px) {
      .item-program-inner {
        min-height: 300px; } }
    .item-program-inner h3 {
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase; }

/** DROPDOWN
===================================*/
.ddropdown {
  width: 80%;
  max-width: 370px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  text-align: left;
  padding: 10px 0; }

.ddown-nav {
  background: #f3f3f3;
  display: block;
  padding: 3px 30px 4px 10px;
  border: 1px solid #838383;
  position: relative;
  color: #181a1c;
  overflow: hidden; }
  .ddown-nav span {
    cursor: pointer;
    display: block;
    padding: 5px; }
  .ddown-nav .ready {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    padding: 0 13px;
    height: 100%; }
    .ddown-nav .ready:before {
      vertical-align: bottom;
      top: 32%;
      position: relative; }
    .ddown-nav .ready:hover:before {
      color: #6692f5; }

.ddown-list {
  position: relative;
  font-size: 16px; }
  .ddown-list ul {
    display: none;
    margin: 0;
    padding: 0;
    background: white;
    list-style: none;
    padding: 5px 0px;
    position: absolute;
    left: 0px;
    top: 2px;
    width: auto;
    width: 100%;
    border: 1px solid #f3f3f3;
    box-shadow: 1px 2px 5px 0px #A5A4A4;
    -moz-box-shadow: 1px 2px 5px 0px #A5A4A4;
    -webkit-box-shadow: 1px 2px 5px 0px #A5A4A4; }
    .ddown-list ul li {
      display: block; }
      .ddown-list ul li a {
        display: block;
        padding: 5px 16px;
        color: #181a1c;
        border: none; }
        .ddown-list ul li a:hover {
          background: #cecece;
          color: #4c4c4c; }
  .ddown-list span.value {
    display: none; }

.testimonial-slider .item-testi {
  text-align: center; }
  @media (max-width: 480px) {
    .testimonial-slider .item-testi {
      padding: 0 20px; } }
  .testimonial-slider .item-testi .content-testi {
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px; }
    @media (max-width: 480px) {
      .testimonial-slider .item-testi .content-testi {
        font-size: 18px; } }
  .testimonial-slider .item-testi .author-testi {
    font-size: 18px;
    font-weight: 600;
    color: #4283b9; }
    @media (max-width: 480px) {
      .testimonial-slider .item-testi .author-testi {
        font-size: 14px; } }

.testimonial-slider .owl-controls {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px; }

.testimonial-slider .owl-controls .owl-nav .owl-prev,
.testimonial-slider .owl-controls .owl-nav .owl-next,
.testimonial-slider .owl-controls .owl-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #e5e5e5;
  display: inline-block;
  margin: 0 4px; }
  .testimonial-slider .owl-controls .owl-nav .owl-prev.active,
  .testimonial-slider .owl-controls .owl-nav .owl-next.active,
  .testimonial-slider .owl-controls .owl-dot.active {
    background-color: #ea8530; }

/** TESTIMONI STUDENT
===================================*/
.testi-intro {
  text-align: center;
  margin-bottom: 15px; }

.testi-ddwrap {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 40px;
  margin-bottom: 50px; }
  .testi-ddwrap .ddropdown {
    font-size: 16px; }
  .testi-ddwrap .ddown-nav {
    border: 1px solid #e6e6e6;
    color: #999999;
    background-color: white; }

.testi-studentlist h3 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1.8em;
  text-align: center;
  color: #4c4c4c; }

/*====== TESTI LIST ======*/
.testi-studentlist {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden; }

.testi-stuItem {
  margin-bottom: 30px; }
  .testi-stuItem:before, .testi-stuItem:after {
    content: "";
    display: table; }
  .testi-stuItem:after {
    clear: both; }
  .testi-stuItem .inside-text {
    color: #666666;
    padding: 30px;
    position: relative;
    background: #fafafa; }
    @media screen and (min-width: 32em) {
      .testi-stuItem .inside-text {
        padding-left: 88px;
        background: #fafafa url("../images/quote.png") 35px 38px no-repeat;
        background-size: 30px auto;
        -moz-background-size: 30px auto;
        -webkit-background-size: 30px auto; } }

.testi-bottom {
  text-align: center;
  padding-bottom: 28px; }

.item-welcome {
  text-align: center;
  margin-bottom: 30px; }
  @media (max-width: 480px) {
    .item-welcome {
      width: 100% !important; } }
  @media (max-width: 480px) {
    .item-welcome-inner {
      padding: 0 20px; } }
  .item-welcome img {
    display: inline-block;
    margin: 0 auto; }
  .item-welcome h3 {
    margin: 30px 0;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase; }
    .item-welcome h3 a {
      color: #4c4c4c;
      border-bottom: none; }
      .item-welcome h3 a:hover, .item-welcome h3 a:focus {
        color: #4283b9; }

.item-countries {
  position: relative;
  text-align: center;
  margin-bottom: 30px; }
  @media (max-width: 570px) {
    .item-countries {
      width: 100% !important; } }
  .item-countries .subitem-countries {
    border: 1px solid #e5e5e5;
    position: relative; }
    .item-countries .subitem-countries:hover .caption-countries, .item-countries .subitem-countries:focus .caption-countries {
      top: 0; }
  .item-countries h4 {
    margin: 0 0;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    text-transform: uppercase;
    font-size: 16px; }
  .item-countries .content-countries {
    position: relative;
    padding: 30px 20px;
    min-height: 280px;
    overflow: hidden; }
    @media (max-width: 570px) {
      .item-countries .content-countries {
        min-height: inherit !important; } }
  .item-countries .caption-countries {
    display: block;
    position: absolute;
    transition: all 450ms ease;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    background: rgba(66, 131, 185, 0.95);
    z-index: 1; }
    .item-countries .caption-countries p {
      position: absolute;
      text-align: center;
      top: 45%;
      width: 100%;
      padding: 0 20px;
      margin: 0 !important; }
  .item-countries img {
    position: relative; }
  .item-countries p {
    position: relative; }

.item-advisory {
  position: relative;
  margin-bottom: 30px;
  text-align: center; }
  @media (max-width: 570px) {
    .item-advisory {
      width: 100%; } }
  .item-advisory .subitem-advisory {
    cursor: pointer;
    position: relative;
    display: block;
    border-bottom: 0; }
    .item-advisory .subitem-advisory:hover .img-caption, .item-advisory .subitem-advisory:focus .img-caption {
      top: 0; }
  .item-advisory .img-advisory {
    position: relative;
    overflow: hidden; }
    .item-advisory .img-advisory img {
      position: relative;
      display: block;
      margin: 0 auto; }
  .item-advisory .img-caption {
    display: block;
    position: absolute;
    background: rgba(66, 131, 185, 0.95);
    width: 100%;
    height: 100%;
    left: 0%;
    top: -100%;
    z-index: 1;
    transition: all 350ms ease-out; }
  .item-advisory .subimg-caption {
    position: absolute;
    top: 15%;
    width: 100%;
    padding: 0 20px;
    left: 0; }
    @media (max-width: 1200px) {
      .item-advisory .subimg-caption {
        top: 5%; } }
    @media (max-width: 995px) {
      .item-advisory .subimg-caption {
        top: 15%; } }
    .item-advisory .subimg-caption p {
      position: relative;
      color: white;
      margin: 0; }
      @media (max-width: 1200px) {
        .item-advisory .subimg-caption p {
          font-size: 14px; } }
      @media (max-width: 995px) {
        .item-advisory .subimg-caption p {
          font-size: 16px; } }
  .item-advisory .content-advisory {
    padding: 15px; }
    .item-advisory .content-advisory h4 {
      margin: 0px;
      font-size: 16px;
      font-weight: bold; }
    .item-advisory .content-advisory span {
      font-size: 16px;
      color: #808080; }

/** VOLUNTEER
===================================*/
.partner-country {
  overflow: hidden; }
  .partner-country .emphesis {
    font-weight: normal;
    font-weight: 700;
    display: block; }

.partCo-thumb {
  overflow: hidden;
  text-align: center;
  margin-bottom: 25px; }
  @media screen and (min-width: 45em) {
    .partCo-thumb {
      width: 120px;
      margin-right: 80px;
      margin-bottom: 0;
      float: left; } }
  .partCo-thumb img {
    margin-bottom: 18px; }
  .partCo-thumb .figcaption {
    font-weight: 600px;
    text-transform: uppercase;
    font-size: 20px;
    display: block; }

@media screen and (min-width: 45em) {
  .partCo-desc {
    overflow: hidden; } }
.partCo-desc .profile {
  margin-bottom: 30px;
  text-align: center; }
  @media screen and (min-width: 45em) {
    .partCo-desc .profile {
      text-align: left; } }
.partCo-desc .opportunity .emphesis {
  margin-bottom: 23px; }
.partCo-desc .opportunity ul li {
  display: block;
  margin-bottom: 15px;
  padding-left: 30px; }
  .partCo-desc .opportunity ul li.fa-check:before {
    margin-right: 10px;
    color: #3984c2; }

/** ERROR PAGES
===================================*/
.error-wrap {
  text-align: center;
  border-top: 1px solid #e6e6e6;
  padding: 8% 0; }
  .error-wrap h1 {
    font-weight: 700;
    font-size: 90px;
    color: #3984c2;
    margin: 0;
    margin-bottom: 18px;
    line-height: 1em; }
    @media screen and (min-width: 45em) {
      .error-wrap h1 {
        font-size: 120px;
        line-height: 0.9em; } }
  .error-wrap .desc {
    font-weight: 600;
    font-size: 20px;
    color: #666666;
    border-bottom: 1px solid #e6e6e6;
    display: inline-block;
    padding: 0 20px 20px; }
  .error-wrap .btn-orange {
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 25px;
    text-align: center;
    display: inline-block;
    color: white; }
    .error-wrap .btn-orange:hover {
      background-color: #3984c2; }
    .error-wrap .btn-orange .fa {
      font-size: 19px;
      margin-right: 10px; }

@-webkit-keyframes rotateUpDown {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  20% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg); }
  40% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  60% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg); }
  80% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  90% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); } }
@-ms-keyframes rotateUpDown {
  0% {
    -ms-transform: rotate(0deg);
        transform: rotate(0deg); }
  20% {
    -ms-transform: rotate(60deg);
        transform: rotate(60deg); }
  40% {
    -ms-transform: rotate(30deg);
        transform: rotate(30deg); }
  60% {
    -ms-transform: rotate(50deg);
        transform: rotate(50deg); }
  80% {
    -ms-transform: rotate(30deg);
        transform: rotate(30deg); }
  90% {
    -ms-transform: rotate(20deg);
        transform: rotate(20deg); }
  100% {
    -ms-transform: rotate(10deg);
        transform: rotate(10deg); } }
@keyframes rotateUpDown {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  20% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg); }
  40% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  60% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg); }
  80% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  90% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); } }
