@mixin font-open(){
	font-family: "Open Sans", sans-serif;
}

@mixin clearboth(){
	.clearboth{
		content: "";
		clear: both;
		display: table;
	}
}

@mixin placeholder(){
	::-webkit-input-placeholder {
	   color: #666;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #666;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #666;  
	}

	:-ms-input-placeholder {  
	   color: #666;  
	}
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@include keyframes(no-anim) {
  
}

@mixin animation ($stuff ) {
    -webkit-animation: $stuff;
    -moz-animation: $stuff;
    -ms-animation: $stuff;
    animation: $stuff;
}