//COLOR-SCHEME
$color-blue: #4283b9; 
$color-gray: #808080;
$color-orange: #ea8530;
$color-heading: #4c4c4c;
$color-heading-light: #b3b3b3;
$color-text: #666666;
$color-text-light: #808080;
$color-line: #e5e5e5;
$color-semi-white: #fafafa;
