/*
Template Name: GTTP
*/

/*  VARIABLES
/* ------------------------------------ */
@import "variables";


/*  VARIABLES
/* ------------------------------------ */
@import "parametricmixin";
$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

/*  THEME
/* ------------------------------------ */
@import "theme/general";
@import "theme/accordion";
@import "theme/buttons";
@import "theme/footer";
@import "theme/gttpstatistic";
@import "theme/headersite";
@import "theme/tablist";
@import "theme/widgets";


/*  SECTION
/* ------------------------------------ */
@import "section/galleries";
@import "section/goals";
@import "section/homepage";
@import "section/manualdownload";
@import "section/partners";
@import "section/programs";
@import "section/dropdown";
@import "section/testimonial";
@import "section/welcome";
@import "section/country";
@import "section/advisory";
@import "section/volunteer";
@import "section/error";



@include keyframes( rotateUpDown ){
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(60deg);
	}
	40% {
		transform: rotate(30deg);
	}
	60% {
		transform: rotate(50deg);
	}
	80% {
		transform: rotate(30deg);
	}
	90% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate( 10deg );
	}
}
