.box-accordion{
	.panel{
		border-radius: 0;
		box-shadow: none;
		margin-top: 0;
	}
	.panel-default{
		border-color: $color-line;
		> .panel-heading{
			background: $color-semi-white;
			border-radius: 0;
			padding: 0;
		}
		.panel-title{
			position: relative;
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
			margin: 0;
			@media (max-width: 480px) {
			    font-size: 14px;
			}
			a{
				color: $color-heading;
				border-bottom: none;
				padding: 15px 20px;
				display: block;
				position: relative;
				overflow: hidden;
				@media (max-width: 480px) {
				    padding: 10px 20px;
				    height: 40px;
				    line-height: 1.5;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				.box{
					position: absolute;
					right: 0;
					width: 60px;
					height: 60px;
					background-color: white;
					border-left: 1px solid $color-line;
					top: 0;
					@media (max-width: 480px) {
					    width: 40px;
					    height: 40px;
					}
					&:after{
						font-family: "FontAwesome";
						content: "\f067";
						position: absolute;
						vertical-align: middle;
						color: $color-line;
						top: 15%;
						left: 25%;
						transition: all .25s ease;
						font-weight: normal;
						border-radius: 50%;
						display: inline-block;
						border: 1px solid $color-line;
						height: 30px;
						width: 30px;
						text-align: center;
						line-height: 30px;
						@media (max-width: 480px) {
						    height: 20px;
						    width: 20px;
						    font-size: 12px;
						    line-height: 20px;
							top: 20%;
						}
					}
				}
			}
			a[aria-expanded="true"]{
				.box{
					&:after{
						content: "\f068";
					}
				}
			}
		}
		> .panel-body{
			border-top-color: $color-line;
			padding: 15px 20px;
		}
	}
}

.box-accordion .panel + .panel{
	margin-top: 0;
}
