.btn{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	font-family: arial;
	letter-spacing: 1px;
	border-radius: 0;
	padding: 12px 15px;
	border-bottom: none;
	@media (max-width: 480px) {
	    font-size: 14px;
	}
	&:hover,&:focus{
		color: white;
		border-bottom: none;
	}
	&-line{
		border: 1px solid transparent;
	}
	&-line-white{
		border-color: white;
		&:hover,
		&:focus{
			background: white;
			color: $color-text;
		}
	}
	&-orange{
		background: $color-orange;
		&:hover{
			background: $color-text;
		}
		&:focus{
			background: $color-heading;
		}
	}
	&-md{
		padding: 12px 40px;
		font-weight: 600;
		@media (max-width: 480px) {
		    padding: 12px 30px;
		}
	}
	&-s{
		padding: 10px 20px;
		font-size: 13px;
	}
}