.footer-site{
	border-top: 1px solid $color-line;
}

.footer-top{
	padding: 50px 0 20px;
}

.footer-bottom{
	border-top: 1px solid $color-line;
	padding: 20px 0;
	.widget{
		margin: 0 !important;
		@media (max-width: 480px) {
		    width: 100%;
		}
		&-socmed{
			ul{
				li{
					a{
						margin: 0 5px;
					}
				}
			}
		}
	}
}

.copyright{
	display: inline-block;
	float: left;
	margin: 0;
	font-size: 14px;
	color: $color-text-light;
	@media (max-width: 480px) {
	    float: none;
	    text-align: center;
	    margin-bottom: 10px;
	}
	a{
		color: $color-text-light;
		border-bottom: none;
		&:hover, &:focus{
			color: $color-blue;
			border-bottom: none;
		}
	}
}