body, html{
	height: 100%;
}

body{
	color: $color-text;
	@include font-open;
	font-size: 18px;
	line-height: 30px;
	background: white;
	@media (max-width: 480px) {
	    font-size: 14px;
	    line-height: 1.7;
	}
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	cursor: inherit;
}

a{
	color: $color-blue;
	transition: ease .3s;
	border-bottom: 1px solid $color-blue;
	&:hover, &:focus{
		text-decoration: none;
		color: $color-heading-light;
		border-bottom-color: $color-heading-light;
	}
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	@include font-open;
	color: $color-heading;

}

p{
	margin-bottom: 30px;
	@media (max-width: 480px) {
	    margin-top: 15px;
	}
}

img{
	max-width: 100%;
}

$spacer:
	( space10, 10px),
	( space20, 20px),
	( space40, 40px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

.helpertop-space{
	@media (max-width: 570px) {
	    margin-top: 15px;
	}
}
@include clearboth;

.bg-semi-white{
	background: $color-semi-white;
}

.bg-orange{
	background: $color-orange;
	p{
		color: white;
	}
	.title-box{
		color: white;
	}
	.line-separator{
		margin: 0;
		border-color: rgba( white, .2 );
	}

}

.nopadd{
	padding: 0 !important;
	@media (max-width: 767px) {
	    padding-left: 15px !important;
	    padding-right: 15px !important;
	}
}

.minmargin20{
	margin-top: -20px;
	position: relative;
	display: block;
}

.img-stripes{
	background: url('../images/stripes.png') no-repeat 0 0 transparent;
	background-size: cover;
	width: 100%;
	height: 5px;
}

.section-box{
	position: relative;
	padding-top: 80px;
	@media (max-width: 480px) {
	    padding-top: 60px;
	}
}

.header-section{
	margin-bottom: 40px;
	h2{
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: normal;
		@media (max-width: 480px) {
		    font-size: 24px;
		    line-height: 1.4;
		}
	}
}

.box-padd{
	padding: 40px;
}

.title-box{
	font-weight: 600;
	font-size: 20px;
	margin: 0 0 30px;
	text-transform: uppercase;
	+.subtitle-content-box{
		top: -30px;
		position: relative;
	}
}

.title-content-box{
	margin: 0 0 15px;
	font-size: 16px;
	text-transform: uppercase;
}

.subtitle-content-box{
	color: $color-text-light;
}

.text-normal{
	text-transform: none !important;
}

.trans-none{
	text-transform: none !important;
	font-weight: normal;
	line-height: 1.6;
}

.nopaddleft{
	padding-left: 0 !important;
}



.list-dotted{
	list-style: none outside none;
	margin: 0 0 15px;
	padding: 0;
	li{
		position: relative;
		padding-left: 30px;
		margin-bottom: 5px;
		display: block;
		&:before{
			content: "\f111";
			font-family: "FontAwesome";
			font-size: 8px;
			position: absolute;
			top: 0;
			left: 0;
			color: $color-blue;
		}
		p{
			margin: 0;
		}
	}
}

.list-gttp{
	list-style: none outside none;
	margin: 0 0 15px;
	padding: 0;
	li{
		position: relative;
		display: block;
		margin-bottom: 5px;
		p{
			margin: 0;
			b{
				color: $color-heading;
			}
			a{
				color: $color-blue;
				text-decoration: none;
				border-bottom: none;
				&:hover,
				&:focus{
					color: $color-gray;
				}
			}
		}
	}
}

