.table-statistic{
	table{
		border: 1px solid $color-line;
		width: 100%;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: normal;
		thead{
			background-color: #d5e7f6;
			tr{
				td{
					padding: 40px 20px;

				}
			}
		}
		tbody{
			color: #999999;
			tr{
				background-color: white;
				border-bottom: 1px solid $color-line;
				&:nth-child(even){
					background-color: #f9fbfc;
				}
				td{
					padding: 20px;
				}
			}
		}
		tfoot{
			tr{
				background-color: $color-blue;
				color: white;
				td{
					padding: 20px;
				}
			}
		}
	}
	.info-table{
		text-align: left ;
		margin-bottom: 5px;
		font-size: 14px;
		@media (min-width:980px) and (max-width:1199px) {
		    padding: 0 20px;
		    margin-bottom: 10px;
		}
		@media (min-width:768px) and (max-width:979px) {
		    padding: 0 20px;
		    margin-bottom: 10px;   
		}
		@media (max-width: 480px) {
		    padding: 0 20px;
		    margin-bottom: 10px;   
		}
	}
}