.header-site{
	position: relative;
	.header-left{
		float: left;
		@media (min-width:980px) and (max-width:1199px) {
		    // float: none;
		}
		@media (min-width:768px) and (max-width:979px) {
		    float: none;
		}
		@media (min-width: 571px) and (max-width: 767px ){
			float: none;
		}
		@media (max-width: 570px) {
		    float: none;
		    text-align: center;
		}
	}
	.header-right{
		float: right;
		@media (min-width:980px) and (max-width:1199px) {
		    // float: none;
		}
		@media (min-width:768px) and (max-width:979px) {
		    float: none;
		}
		@media (min-width: 571px) and (max-width: 767px ){
			float: none;
		}
		@media (max-width: 570px) {
		    float: none;
		}
	}
	.widget{
		margin-bottom: 0 !important;
	}
}

.logo{
	float: left;
	margin: 40px 0;
	@media (min-width:980px) and (max-width:1199px) {
	    margin: 30px 0;
	    float: none;
	    text-align: center;
	}
	@media (min-width:768px) and (max-width:979px) {
	    float: none;
	    margin: 20px 0;
	    text-align: center;
	}
	@media (min-width: 571px) and (max-width: 767px ){
	    float: none;
	    margin: 20px 0;
	    text-align: center;	
	}
	@media (max-width: 570px) {
		float: none;
	    margin: 20px 0;
	    text-align: center;
	}
	a{
		display: inline-block;
		border: none;
		@media (min-width:980px) and (max-width:1199px) {
		    img{
		    	width: 100%;
		    }
		}
		@media (max-width: 570px) {
		    img{
		    	width: 100%;
		    }
		}
	}
}

.header-top{
	text-align: right;
	@media (min-width:980px) and (max-width:1199px) {
	    text-align: center;
	}
	@media (min-width:768px) and (max-width:979px) {
	    text-align: center;
	}
	.nav-top{
		float: right;
		@media (min-width:980px) and (max-width:1199px) {
		    float: none;
		    width: 100%;
		    display: block;		    
		}
		@media (min-width:768px) and (max-width:979px) {
		    float: none;
		    width: 100%;
		    display: block;
		}
		@media (min-width: 571px) and (max-width: 767px ){
		    float: none;
		    width: 100%;
		    display: block;
		}
		@media (max-width: 570px) {
		    // float: right;
		    width: 100%;
		    display: block;   
		}
	}
	.widget-socmed{
		float: right;
		@media (max-width: 570px) {
		    // float: none;
		    width: 100%;
		    display: block;
		}
		ul{
			li{
				@media (max-width: 570px) {
				    float: none;
				    display: inline-block;
				}
			}
		}
	}
}

.header-bottom{
	width: 100%;
	float: right;
	// margin-top: 10px;
	@media (min-width:980px) and (max-width:1199px) {
	    float: none;
	    text-align: center;	    
	}
	@media (min-width:768px) and (max-width:979px) {
	    float: none;
	    text-align: center;
	}
	@media (min-width: 571px) and (max-width: 767px ){
		float: none;
		text-align: center;
	}
}

.nav-top{
	@media (max-width: 570px) {
	    text-align: center;
	}
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		font-weight: 600;
		font-size: 12px;
		line-height: inherit;
		text-transform: uppercase;
		li{
			float: left;
			position: relative;
			@media (max-width: 570px) {
			    float: none;
			    display: inline-block;
			}
			>a{
				border-bottom: none;
				margin: 10px 20px;
				display: block;
				@media (max-width: 570px) {
				    margin: 5px 10px;
				}
				&:first-child{
					margin-left: 20px;
				}
			}
			ul{
				display: block;
				position: absolute;
				background-color: $color-semi-white;
				min-width: 160px;
				z-index: 999;
				border: 1px solid $color-line;
				li{
					display: block;
					float: none;
					> a{
						text-align: left;
						color: $color-text;
						font-size: 11px;
						margin: 0;
						padding: 5px 20px;
						display: block;
						&:first-child{
							margin-left: 0;
						}
					}
					ul{
						left: 100%;
						top: 0;
					}
					&:hover{
						>a {
							background-color: $color-blue;
							color: white;
						}
					}
				}
			}
			&:hover{
				>a {
					color: $color-text-light;
				}
			}
		}
	}
}

.main-nav{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	float: right;
	margin: 10px 0 20px;
	@media (min-width:980px) and (max-width:1199px) {
	    font-size: 14px;
	    margin: 5px 0 10px;
	    float: none;
	    display: block;
	    text-align: center;
	    width: 100%;
	}
	@media (min-width:768px) and (max-width:979px) {
	    float: none;
	    display: block;
	    text-align: center;
	    width: 100%;
	}
	@media (min-width: 571px) and (max-width: 767px ){
	    float: none;
	    display: block;
	    text-align: center;
	    width: 100%;	
	}
	@media (max-width: 570px) {
	    display: none;
	}
	ul{
		list-style: none outside none;
		padding: 0;
		margin: 0;
		li{
			float: left;
			position: relative;
			@media (min-width:980px) and (max-width:1199px) {
			    float: none;
			    display: inline-block;
			}
			@media (min-width:768px) and (max-width:979px) {
			    float: none;
			    display: inline-block;
			}
			@media (min-width: 571px) and (max-width: 767px ){
				float: none;
				display: inline-block;
			}
			> a{
				display: block;
				border-bottom: none;
				color: $color-text-light;
				margin: 0 20px;
			}
			ul{
				display: block;
				position: absolute;
				background-color: $color-semi-white;
				min-width: 160px;
				z-index: 999;
				border: 1px solid $color-line;
				top: 60px;
				@media (min-width:980px) and (max-width:1199px) {
				    top: 40px;
				}
				@media (min-width:768px) and (max-width:979px) {
				    top: 50px;
				}
				li{
					display: block;
					float: none;
					> a{
						text-align: left;
						color: $color-text;
						font-size: 13px;
						margin: 0;
						padding: 5px 20px;
						display: block;
						@media (min-width:980px) and (max-width:1199px) {
						    font-size: 11px;
						}
						// font-weight: 600;
						&:first-child{
							margin-left: 0;
						}
					}
					ul{
						left: 100%;
						top: 0;
					}
					&:hover{
						>a {
							background-color: $color-blue;
							color: white;
						}
					}
				}
			}
			&.active{
				> a{
					color: $color-blue;
				}
			}
			&:hover{
				> a{
					color: $color-blue;
				}
			}
		}
	}
}

.rwd-navigation{
	display: none;
	margin-bottom: 20px;
	@media (max-width: 570px) {
	    display: block;
	}
	.nav-btn{
		cursor: pointer;
		display: block;
		width: 100%;
		text-align: center;
		background-color: $color-text;
		padding: 10px 20px;
		color: white; 
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 600;
		&:hover, &:focus{
			background-color: $color-blue;
		}
	}

	.mobile-nav{
		list-style: none outside none;
		text-align: left;
		margin: 0;
		padding: 0;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: normal;
		li{
			display: block;
		}
		a{
			padding: 5px 20px;
			display: block;
			color: $color-text;
			background-color: $color-semi-white;
			border-bottom: none;
			&:hover, &:focus{
				color: white;
				background-color: $color-blue;
			}
		}
	}
}