.tab-header-content{
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		border-top: 1px solid $color-line;
		border-bottom: 1px solid $color-line;
		text-align: center;
		li{
			display: inline-block;
			@media (max-width: 480px) {
			    display: block;
			}
			&.active{
				a{
					background: $color-blue;
					color: white;
				}
			}
			a{
				display: block;
				font-size: 14px;
				text-transform: uppercase;
				color: $color-gray;
				padding: 10px 20px;
				border-bottom: none;
				line-height: inherit;
				@media (min-width:768px) and (max-width:979px) {
				    font-size: 13px;
				    padding: 5px 10px;
				}
				@media (max-width: 480px) {
				    width: 100%;
				    padding: 5px 10px;
				    font-size: 12px;
				}
			}
			&:hover{
				a{
					background: $color-blue;
					color: white;
				}
			}
		}
	}
}