.widget{
	margin-bottom: 40px;
	.title-widget{
		margin-top: 0;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 18px;
	}
	.list-widget{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li{
			display: block;
		}
		.title-link{
			margin: 0 0 10px;
			font-weight: normal;
			font-size: 16px;
			@media (max-width: 480px) {
			    font-size: 14px;
			}
			a{
				color: $color-text;
				border-bottom: none;
				&:hover, &:focus{
					color: $color-blue;
				}
			}
		}
	}
	&-socmed{
		ul{
			list-style: none outside none;
			margin: 0;
			padding: 0;
			font-size: 14px;
			text-align: center;
			li{
				float: left;
				@media (max-width: 480px) {
				    float: none;
				    display: inline-block;
				}
				a{
					color: $color-heading-light;
					border-bottom: none;
					margin: 9px 5px;
					display: block;
					&:hover, &:focus{
						color: $color-blue;
					}
				}
			}
		}
	}// widget-socmed
	&-text{
		img{
			margin-bottom: 20px;
		}
		p{
			font-size: 16px;
			line-height: 24px;
			@media (max-width: 480px) {
			    font-size: 14px;
			    line-height: 21px;
			}
		}
	}// widget-text
}