.item-advisory{
	position: relative;
	margin-bottom: 30px;
	text-align: center;
	@media (max-width: 570px) {
	    width: 100%;
	}
	.subitem-advisory{
		cursor: pointer;
		position: relative;
		display: block;
		border-bottom: 0;
		&:hover,
		&:focus{
			.img-caption{
				top: 0;
			}
			.img-advisory{

			}
		}
	}
	.img-advisory{
		position: relative;
		overflow: hidden;
		img{
			position: relative;
			display: block;
			margin: 0 auto;
		}
	}
	.img-caption{
		display: block;
		position: absolute;
		background: rgba( $color-blue, .95 );
		width: 100%;
		height: 100%;
		left: 0%;
		top: -100%;
		z-index: 1;
		transition: all 350ms ease-out;
	}
	.subimg-caption{
		position: absolute;
		top: 15%;
		width: 100%;
		padding: 0 20px;
		left: 0;
		@media (max-width: 1200px){
			top: 5%;
		}
		@media (max-width: 995px) {
		    top: 15%;
		}
		p{
			position: relative;
			color: white;
			margin: 0;
			@media (max-width: 1200px) {
			    font-size: 14px;
			}
			@media (max-width: 995px) {
			    font-size: 16px;
			}
		}
	}
	.content-advisory{
		padding: 15px;
		h4{
			margin: 0px;
			font-size: 16px;
			font-weight: bold;
		}
		span{
			font-size: 16px;
			color: $color-text-light;
		}
	}
}