.item-countries{
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	@media (max-width: 570px) {
	    width: 100% !important;
	}
	.subitem-countries{
		border: 1px solid $color-line;
		position: relative;
		&:hover,
		&:focus{
			.caption-countries{
				top: 0;
			}
		}
	}
	h4{
		margin: 0 0;
		padding: 20px;
		border-bottom: 1px solid $color-line;
		text-transform: uppercase;
		font-size: 16px;
	}
	.content-countries{
		position: relative;
		padding: 30px 20px;
		min-height: 280px;
		overflow: hidden;
		@media (max-width: 570px) {
		    min-height: inherit !important;
		}
	}
	.caption-countries{
		display: block;
		position: absolute;
		transition: all 450ms ease;
		width: 100%;
		height: 100%;
		left: 0;
		top: -100%;
		background: rgba( $color-blue, .95 );
		z-index: 1;
		p{
			position: absolute;
			text-align: center;
			top: 45%;
			width: 100%;
			padding: 0 20px;
			margin: 0 !important;
		}
	}
	img{
		position: relative;
	}
	p{
		position: relative;
	}
}