/** ERROR PAGES
===================================*/
.error-wrap{
	text-align: center;
	border-top: 1px solid #e6e6e6;
	padding: 8% 0;

	.error-text{
	}
	h1{
		 font-weight: 700;
		 font-size: 90px;
		 color: #3984c2;
		 margin: 0;
		 margin-bottom: 18px;
		     line-height: 1em;
		 @media screen and (min-width: 45em){
		 	font-size: 120px;
		 	line-height: 0.9em;
		 }
	}

	.desc{
		font-weight: 600;
		font-size: 20px;
		color: #666666;
		border-bottom:  1px solid #e6e6e6;
		display: inline-block;
		padding: 0 20px 20px;
	}

	.btn-orange{
		border: none;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
		padding: 5px 25px;
		text-align: center;
		display: inline-block;
		color: white;

		&:hover{
			background-color: #3984c2;
		}

		.fa{
			font-size: 19px;
			margin-right: 10px;
		}
	}
}