.community-filter{
	list-style: none outside none;
	margin: 0;
	padding: 0;
	border-top: 1px solid $color-line;
	border-bottom: 1px solid $color-line;
	text-align: center;
	li{
		display: inline-block;
		@media (max-width: 480px) {
		    display: block;
		}
		a{
			display: block;
			font-size: 14px;
			text-transform: uppercase;
			color: $color-gray;
			padding: 10px 20px;
			border-bottom: none;
			line-height: inherit;
			&.active{
				background: $color-blue;
				color: white;				
			}
		}
		&:hover{
			a{
				background: $color-blue;
				color: white;
			}
		}
	}
}

.item-gallery{
	text-align: center;
	margin-bottom: 30px;
	@media (max-width: 480px) {
	    width: 100% !important;
	    padding: 0 30px;
	}
	&:hover{
		.gallery-caption{
			background: rgba( black, .5 )
		}
		.gallery-link{
			top: 50%;
		}
	}
	&-inner{
		background: transparent;
		position: relative;
		display: block;
		overflow: hidden;
		.gallery-caption{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: transparent;
			transition: all .4s ease;
		}
		.gallery-link{
			position: absolute;
			// top: 50%;
			top: -40px; 
			margin-top: -15px;
			left: 50%;
			margin-left: -15px;
			transition: all .4s ease;
			height: 40px;
			width: 40px;
			line-height: 40px;
			border-radius: 50%;
			background: $color-blue;
			font-size: 14px;
			color: white;
			border-bottom: none;
			display: inline-block;
			&:hover{
				background: $color-gray;
			}
			&:focus{
				background: $color-heading;
			}
		}
		@media (min-width:980px) and (max-width:1199px) {
		    img{
		    	width: 100%;
		    }
		}
		@media (min-width:768px) and (max-width:979px) {
		    img{
		    	width: 100%;
		    }
		}
		@media (max-width: 480px) {
		    img{
		    	width: 100%;
		    }
		}
	}
}