.list-goals{
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: left;
	li{
		position: relative;
		p{
			margin-left: 60px;
			@media (max-width: 480px) {
			    margin-bottom: 15px;
			}
		}
		&:hover{
			&:before{
				animation-name: rotateUpDown;
				animation-duration: 1.2s;
				animation-direction: alternate;
				// animation-timing-function: ease-in-out;
				// animation-delay: 2s;
				// transform: rotate(30deg);
			}
		}
		&:before{
			position: absolute;
			content: url('../images/compas.png');
			width: 30px;
			height: 30px;
			left: 0;
			top: 5px;
			// transition: transform 4s ease-out;
		}
	}
}
