.homepage{
	background-color: $color-gray;
	overflow: hidden;
}

.homepage-slider{
	position: relative;
	.owl-controls{
		position: relative;
		.owl-nav{
			position: relative;
			> div{
				position: absolute;
				margin-top: -25%;
				@media (min-width:980px) and (max-width:1199px) {
				    margin-top: -30%;
				}
				@media (min-width: 571px) and (max-width: 767px ){
					margin-top: -45%;
					display: none !important;
				}
				@media (max-width: 570px) {
				    margin-top: -40%;
				    display: none !important;
				}
				&.owl-next, &.owl-prev{
					width: 60px;
					height: 50px;
					line-height: 50px;
					text-align: center;
					background-color: white;
					font-size: 36px;
					transition: all .25s ease;
					&:hover, &:focus{
						opacity: .85;
					}
					i{
						font-style: normal;
					}
				}
				&.owl-next{
					right: -5px;
				}
				&.owl-prev{
					left: -5px;
				}
			}
		}
	}
}

.item-bg{
	position: relative;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.item-bg-1{
	background-image: url('../images/slides/1.jpg');
}

.item-bg-2{
	background-image: url('../images/slides/2.jpg');
}

.item-bg-3{
	background-image: url('../images/slides/3.jpg');
}

.item-bg-4{
	background-image: url('../images/slides/4.jpg');
}

.item-caption{
	position: relative;
	color: white;
	padding: 12% 0;

	.col-md-5{
		@media (max-width: 480px) {
		    width: 100% !important;
		    text-align: center !important;
		}
	}

	.text-caption{
		font-weight: 300;
		font-size: 36px;
		line-height: 1.15;
		strong{
			font-weight: bold;
		}
		@media (min-width:768px) and (max-width:979px) {
		    font-size: 30px;
		}
		@media (max-width: 480px) {
		    font-size: 24px;
		}
	}
}