.box-manual{
	margin: 0;
	padding: 20px;
	&.in-left{
		text-align: right;
		padding-right: 40px;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			// left: 100%;
			right: -10px;
			top: 0;
			height: 100%;
			width: 1px;
			background-color: rgba( white, .2 );
		}
	}
	&.in-right{
		text-align: left;
		padding-left: 40px;
		position: relative;
	}
	a{
		font-family: arial;
		color: white;
		border-bottom-color: transparent;
		font-weight: normal;
		display: inline-block;
	}
	&:hover{
		a{
			border-bottom-color: rgba( white, 1 );
		}
	}
}