.partners-carousel{
	position: relative;
	.owl-controls{
		position: relative;
		.owl-nav{
			position: relative;
			> div{
				position: absolute;
				margin-top: -11%;
				@media (min-width:980px) and (max-width:1199px) {
				    margin-top: -12%;
				}
				@media (min-width:768px) and (max-width:979px) {
				    margin-top: -12%;
				}
				@media (min-width: 571px) and (max-width: 767px ){
					margin-top: -11%;
				}
				@media (max-width: 570px) {
				    margin-top: -23%;
				}
				&.owl-next, &.owl-prev{
					text-align: center;
					font-size: 80px;
					transition: all .25s ease;
					color: $color-line;
					@media (min-width:768px) and (max-width:979px) {
					    font-size: 60px;
					}
					@media (min-width: 571px) and (max-width: 767px ){
						font-size: 46px;
					}
					@media (max-width: 570px) {
					    font-size: 46px;
					}
					&:hover, &:focus{
						color: $color-heading;
					}
					i{
						font-style: normal;
					}
				}
				&.owl-next{
					right: -20px;
					@media (min-width:768px) and (max-width:979px) {
					    right: -20px;
					}
					@media (min-width: 571px) and (max-width: 767px ){
						right: -1%;
					}
					@media (max-width: 570px) {
					    right: -1%;
					}
				}
				&.owl-prev{
					left: -20px;
					@media (min-width:768px) and (max-width:979px) {
					    left: -20px;
					}
					@media (min-width: 571px) and (max-width: 767px ){
						left: -1%;
					}
					@media (max-width: 57px) {
					    left: -1%;
					}
				}
			}
		}
	}
}