.item-program{
	margin-bottom: 30px;
	&-inner{
		background-color: $color-semi-white;
		padding: 20px;
		min-height: 650px;
		@media (min-width:980px) and (max-width:1199px) {
		    min-height: 300px;
		}
		@media (min-width:768px) and (max-width:979px) {
		    min-height: 300px;
		}
		@media (min-width: 571px) and (max-width: 767px ){
			min-height: 300px;	
		}
		@media (max-width: 480px) {
		    min-height: 300px;
		}
		h3{
			margin-top: 10px;
			margin-bottom: 30px;
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}