.testimonial-slider{
	.item-testi{
		text-align: center;
		@media (max-width: 480px) {
		    padding: 0 20px;
		}
		.content-testi{
			font-size: 24px;
			font-weight: 300;
			font-style: italic;
			letter-spacing: 1px;
			@media (max-width: 480px) {
			    font-size: 18px;
			}
		}
		.author-testi{
			font-size: 18px;
			font-weight: 600;
			color: $color-blue;
			@media (max-width: 480px) {
			    font-size: 14px;
			}
		}
	}
}

.testimonial-slider .owl-controls {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.testimonial-slider .owl-controls .owl-nav .owl-prev,
.testimonial-slider .owl-controls .owl-nav .owl-next,
.testimonial-slider .owl-controls .owl-dot{
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: $color-line;
	display: inline-block;
	margin: 0 4px;
	&.active{
		background-color: $color-orange;
	}
}

/** TESTIMONI STUDENT
===================================*/
.testi-intro{
	text-align: center;
	margin-bottom: 15px;
}
.testi-ddwrap{
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 40px;
	margin-bottom: 50px;
	.ddropdown{
		font-size: 16px;
	}
	.ddown-nav{
		border: 1px solid #e6e6e6;
		color: #999999;
		background-color: white;
	}
}

.testi-studentlist{
	h3{
		margin: 0;
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 1.8em;
		text-align: center;
		color: #4c4c4c;
	}
}

/*====== TESTI LIST ======*/
.testi-studentlist{
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #e6e6e6;
	overflow: hidden;
}
.testi-stuItem{
	margin-bottom: 30px;	
	&:before, &:after{
		content:"";
		display: table;
	}
	&:after{
		clear: both;
	}

	.inside-text{
		color: #666666;
		padding: 30px;
		position: relative;
		background: #fafafa;

		@media screen and (min-width: 32em){
			padding-left: 88px;
			background: #fafafa url('../images/quote.png') 35px 38px no-repeat;
			background-size: 30px auto;
			-moz-background-size: 30px auto;
			-webkit-background-size: 30px auto;

		}
	}
}

.testi-bottom{
	text-align: center;
	padding-bottom: 28px;
}
