/** VOLUNTEER
===================================*/

.partner-country{
	overflow: hidden;
	.emphesis{
		font-weight: normal;
		font-weight: 700;
		display: block;
	}
}

.partCo-thumb{
	
	overflow: hidden;
	text-align: center;
	margin-bottom: 25px;

	@media screen and (min-width: 45em){
		width: 120px;
		margin-right: 80px;
		margin-bottom: 0;
		float: left;
	}

	img{
		margin-bottom: 18px;
	}
	.figcaption{
		font-weight: 600px;
		text-transform: uppercase;
		font-size: 20px;
		display: block;
	}
}

.partCo-desc{
	@media screen and (min-width: 45em){
		overflow: hidden;
	}
	.profile{
		margin-bottom: 30px;
		text-align: center;
		@media screen and (min-width: 45em){
			text-align: left;
		}
	}

	.opportunity{
		.emphesis{
			margin-bottom: 23px;
		}
		ul{
			li{
				display: block;
				margin-bottom: 15px;
    			padding-left: 30px;

    			&.fa-check:before{
    				margin-right: 10px;
    				color: #3984c2;
    			}
			}
		}
	}
}