.item-welcome{
	text-align: center;
	margin-bottom: 30px;
	@media (max-width: 480px) {
	    width: 100% !important;
	}
	&-inner{
		@media (max-width: 480px) {
		    padding: 0 20px;
		}
	}
	img{
		display: inline-block;
		margin: 0 auto;
	}
	h3{
		margin: 30px 0;
		font-weight: 600;
		font-size: 17px;
		text-transform: uppercase;
		a{
			color: $color-heading;
			border-bottom: none;
			&:hover, &:focus{
				color: $color-blue;
			}
		}
	}
}